* {
    background-color : #1e0f0f;
    color : #FFE5E5;
    padding : 10px;
    font : VCR;
}

a {
  color: #96695A;
}

@font-face {
        font-family : 'VCR', sans-serif;
        src : url(VCR_OSD_MONO_1.001.woff);
}