* {
    background-color : #1e0f0f !important;
    color : #FFE5E5 !important;
    font-family : 'VCR';
}

h1, h3, h5 {
  font-style: italic;
  color : #96695A !important;
}

h2, h4, h6 {
  font-style: italic;
}

button {
  border-color: #FFE5E5 !important;
}

a {
  color: #96695A !important;
}

.header {
  background-color : #96695A !important;
  padding : 15px !important; 
  width : 100% !important;

}

.header-color {
  background-color : #96695A !important;
  padding : 0px !important;
}

@font-face {
  font-family : 'VCR';
  src : url(/media/VCR_OSD_MONO_1.001.woff);
}

.b_cont{
  margin : 10px;
}

.btn-index{
  width : 30vw; 
  margin : auto;

}

.aside-index{
  width : 45vw; 
  left : 0; 
  position : absolute; 
  margin : auto;
  align-items: center !important;
}