* {
    background-color : #1e0f0f;
    color : #FFE5E5;
    padding : 10px;
    font : 'VCR';
}

h1 {
  font-style: italic;
}

button {
  border-color: #FFE5E5;
  border-radius: 2px;
}

a {
  color: #96695A;
}

.header-color {
    background-color : #96695A;
}

@font-face {
        font-family : 'VCR', sans-serif;
        src : url(/media/VCR_OSD_MONO_1.001.woff) format("woff");;
}